

/* ===================== Background animation ================= */
.backgroundgray {
  background-color: #171717;
  z-index: -3;
}

.background {
  position: relative;
  z-index: 1; /* Aseguramos que el elemento principal esté en una capa superior */
}

.background::before,
.background::after {
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0; /* Opacidad inicial, ambas imágenes están ocultas */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2; /* Colocar las imágenes de fondo detrás del contenido */
}
  
  .background::before {
    background-image: url('/assets/images/contact/7.png'); /* Primera imagen de fondo */
    animation: fade1 10s infinite alternate, fadeDelay1 0s infinite alternate; /* Animaciones para alternar y retrasar */
  }
  
  .background::after {
    background-image: url('/assets/images/contact/8.png'); /* Segunda imagen de fondo */
    animation: fade2 10s infinite alternate, fadeDelay2 10s infinite alternate; /* Animaciones para alternar y retrasar */
  }
  
  @keyframes fade1 {
    0%, 100% {
      opacity: 0; /* Opacidad mínima, la imagen está oculta */
    }
    50% {
      opacity: 1; /* Opacidad completa, la imagen está visible */
    }
  }
  
  @keyframes fade2 {
    0%, 100% {
      opacity: 0; /* Opacidad mínima, la imagen está oculta */
    }
    50% {
      opacity: 1; /* Opacidad completa, la imagen está visible */
    }
  }
  
  @keyframes fadeDelay1 {
    0%, 50% {
      opacity: 0; /* Opacidad mínima, la imagen está oculta */
    }
    100% {
      opacity: 1; /* Opacidad completa, la imagen está visible */
    }
  }
  
  @keyframes fadeDelay2 {
    0%, 50% {
      opacity: 0; /* Opacidad mínima, la imagen está oculta */
    }
    100% {
      opacity: 1; /* Opacidad completa, la imagen está visible */
    }
  }